.progress {
	position: relative;
	margin: 10px;
	display: inline-block;
		
	border: 1px solid silver;
	border-radius: 4px;
	height: 15px;
	overflow: hidden;

	z-index: 1;
	
}

.progress>.animation {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%; /*inherit;*/
	height: 200px;
	z-index: -1;
	-webkit-animation: twirl 4s infinite linear;
	-moz-animation: twirl 4s infinite linear;
	-o-animation: twirl 4s infinite linear;
	animation: twirl 4s infinite linear;
	background-color: gray;
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
	background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
}

.progress>.shadow {
	position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    z-index: 1;
    background-color: transparent;

	-moz-box-shadow: inset 0px 0px 3px 1px #000;
	-webkit-box-shadow: inset 0px 0px 3px 1px #000;
	box-shadow: inset 0px 0px 3px 1px #000;
}

@-webkit-keyframes twirl {
	from { top: 0px; }
	to { top: -114px; }
}
@-moz-keyframes twirl {
	from { top: 0px; }
	to { top: -114px; }
}
@-o-keyframes twirl {
	from { top: 0px; }
	to { top: -114px; }
}
@keyframes twirl {
	from { top: 0px; }
	to { top: -114px; }
}

.progress_debug {
	max-height: 22px;
	overflow: scroll;
	background: orange;
}

